<% content_for :navright do %>
<% end %>

<% content_for :body do %>
	<style>
		@media only screen and (min-width : 1224px) {
			.bg {
				background-image: url(<%= asset_path 'wallpaper.png' %>) !important;
			}
		}
	</style>


	<div class="login-box">
	<%= form_for :post do |f| %>

		<% flash.each do |name, msg| -%>
      	<%= content_tag :div, msg, class: name %>
    	<% end %>		

    	<div style="color:white"> New user? <a href="#">Sign up</a> now</div>
    	<%= f.text_field :username ,:class => "form-control fazilai-textform",:placeholder => "e-mail" %><br>
    	<%= f.password_field :password ,:class => "form-control fazilai-textform",:placeholder => "password"%><br>
		<%= f.submit :"sign in" , :class => "form-control fazilai-login btn-warning" , :style => "display:inline"%> 
		<div style="display:inline"> <a href="#">forget password?</a></div>
		<br>
		<br>
		<div style="width:300px;height:3px;background:white"><div>
	</div>
	<% end %>
	</div>
<% end%>
